.bg-one {
  background-color: #EA3434; }

.bg-two {
  background-color: #E98035; }

.bg-three {
  background-color: #F8BE12; }

.bg-four {
  background-color: #EE5959; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration-style: none;
  color: black; }

li {
  list-style-type: none; }

* {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none; }

.w-40 {
  width: 40vw; }

.w-60 {
  width: 60vw; }

.img__custom {
  width: 75%; }

.border-custom-1 {
  border: 1px solid #dee2e6;
  border-width: 1px; }

.img-w-50 {
  width: 50vh; }

footer {
  background-color: #EA3434;
  height: 10vh; }
  footer div {
    color: black; }
    footer div div a:hover {
      color: black; }

.socials__logo {
  height: 5vh; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500; }

header {
  height: 12vh; }
  header nav {
    background-color: #EA3434;
    height: 100%; }
  header button {
    margin-right: 15px; }

#header-logo {
  height: 10vh; }

#navbarNavDropdown ul li:hover {
  background-color: rgba(0, 0, 0, 0.1); }

#navbarNavDropdown ul li a {
  color: black; }

@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding: 0 1rem; } }

.main-height-custom {
  height: 88vh; }

.main-height-custom-2 {
  height: 78vh; }

#navbarNavDropdown ul {
  align-items: center; }
  #navbarNavDropdown ul li {
    width: 75%; }

#bodyMenu #mainMenu #accordionMenu section .menu-title {
  border: 1.5px black solid;
  background-color: #E98035;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

#bodyMenu #mainMenu #accordionMenu section .menu-item-title {
  background-color: #F8BE12;
  border: 1.5px black solid;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  padding: 10px 18px;
  color: black; }

#bodyMenu #mainMenu #accordionMenu section .accordion-item {
  border: none; }

#bodyMenu #mainMenu #accordionMenu section .menu-item-desc {
  padding: 10px 22px; }

#bodyMenu #mainMenu #cardsMenu .card .card-header {
  font-weight: bold;
  background-color: #E98035; }

#bodyMenu #mainMenu #cardsMenu .card .card-body {
  background-color: #F8BE12; }
  #bodyMenu #mainMenu #cardsMenu .card .card-body .cards-menu-img {
    width: 100%; }
  #bodyMenu #mainMenu #cardsMenu .card .card-body .card-title {
    margin: 0.5rem 0.5rem; }

#bodyMenu #mainMenu #cardsMenu .card .card-footer {
  background-color: #EE5959;
  columns: black;
  font-weight: 700; }

@keyframes bg-color {
  0% {
    background-color: #E98035; }
  50% {
    background-color: #F8BE12; }
  100% {
    background-color: #E98035; } }

@keyframes bg-color-2 {
  0% {
    background-color: #F8BE12; }
  50% {
    background-color: #E98035; }
  100% {
    background-color: #F8BE12; } }

#bodyBeneficios #mainBeneficios {
  min-height: 78vh;
  background-color: #EE5959; }
  #bodyBeneficios #mainBeneficios .discount-title {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    background-color: #E98035;
    border: black 2px solid;
    margin-bottom: 10px;
    animation-name: bg-color;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  #bodyBeneficios #mainBeneficios .discount-container {
    text-align: center;
    margin: 0 auto; }
    #bodyBeneficios #mainBeneficios .discount-container .discount-subtitle {
      background-color: #F8BE12;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      font-size: large;
      border: black 1px solid;
      border-radius: 3rem;
      animation-name: bg-color-2;
      animation-duration: 2s;
      animation-iteration-count: infinite; }
    #bodyBeneficios #mainBeneficios .discount-container .discount-desc {
      margin: 15px 0px;
      display: flex;
      align-items: center;
      justify-content: center; }
  #bodyBeneficios #mainBeneficios #discount-container-1 {
    width: 75%; }

#mainContacto {
  background-color: #E98035; }
  #mainContacto a {
    text-decoration: none; }
    #mainContacto a:hover {
      color: black; }
  #mainContacto #contacto-title {
    font-size: 35px;
    padding: 50px 0px;
    text-transform: uppercase; }
  #mainContacto .contacto-section {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    #mainContacto .contacto-section .cardContacto {
      background-color: #F8BE12;
      border: 2px solid black;
      border-radius: 2rem;
      width: 343px;
      min-height: 200px;
      padding: 15px;
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 20px 30px;
      align-items: center; }
      #mainContacto .contacto-section .cardContacto img {
        width: 30%; }
      #mainContacto .contacto-section .cardContacto .cardTitle {
        font-size: 25px;
        text-transform: uppercase;
        padding: 15px 0px;
        display: inline-flex;
        font-weight: 800; }
      #mainContacto .contacto-section .cardContacto .cardDesc {
        display: inline-flex;
        padding-bottom: 10px; }
    #mainContacto .contacto-section .cardContactoMap {
      width: 686px;
      margin: 20px 60px; }
      #mainContacto .contacto-section .cardContactoMap img {
        width: 15%; }
      #mainContacto .contacto-section .cardContactoMap a {
        padding-bottom: 10px; }
      #mainContacto .contacto-section .cardContactoMap #map-location {
        border: 0;
        height: 30vh;
        width: 100%; }

#bodyNosotros {
  background-color: #E98035; }
  #bodyNosotros #mainNosotros {
    min-height: 78vh; }
    #bodyNosotros #mainNosotros .nosotrosContainer {
      display: flex;
      align-items: center; }
      #bodyNosotros #mainNosotros .nosotrosContainer .nosotrosCard {
        background-color: rgba(255, 255, 255, 0.7);
        color: black; }
        #bodyNosotros #mainNosotros .nosotrosContainer .nosotrosCard .nosotrosTitle {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 32px;
          text-align: center; }
        #bodyNosotros #mainNosotros .nosotrosContainer .nosotrosCard .nosotrosDesc {
          text-align: center; }
        #bodyNosotros #mainNosotros .nosotrosContainer .nosotrosCard img {
          width: 100%; }

@media (max-width: 767px) {
  header {
    height: 12vh; }
    header nav div div ul {
      background-color: #EE5959; }
  footer {
    height: 16vh; }
    footer div {
      height: 50%; }
  .img__custom {
    width: 60%; }
  #mainBeneficios #discount-container-2 {
    width: 75%; }
  #mainContacto .contacto-section {
    flex-direction: column;
    align-items: center; }
    #mainContacto .contacto-section .cardContactoMap {
      width: 343px; } }

@media (min-width: 768px) and (max-width: 1050px) {
  #mainBeneficios #discount-container-2 {
    width: 100%; } }

@media (min-width: 768px) {
  footer div {
    height: 100%; }
  #mainNosotros {
    height: 88vh; } }

@media (min-width: 903px) {
  #nosotros-body footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030; } }

@media (min-width: 1050px) {
  #mainBeneficios #discount-container-2 {
    width: 80%;
    min-width: 350px; } }
