/* ESTILOS DE TODO EL SITIO WEB */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a{
    text-decoration-style: none;
    color: black;
}

main{
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.bg-lightskyblue{
    background-color: lightskyblue;
}

.bg-lightblue{
    background-color: lightblue;
}

/* HEADER */

.bg-header-custom{
    background-color:lightskyblue;
    height: 12vh;
}

#header-logo-custom{
    height: 10vh;
}

.navbar-items-custom{
    color: rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 5px;
}

/* HOME */

.home-title{
    font-weight: 700;
    font-size:xx-large;
}

.home-section{
    display: flex;
    flex-direction: column;
}

#home__egos{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#home__egos h2{
    font-size: 100px;
}

.home-section-center{
    height: 78vh;
}

.home-section-left{
    background-color: lightsalmon;height: 78vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-section-right{
    background-color: lightblue;
    height: 78vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.home-section-left div{
    margin: 0px 4%;
}

.home-section-right div{
    margin: 0px 4%;
    text-align: right;
}

.home-description{
    margin: 40px 0px;
}

.home-img{
    height: 60%;
}

#home__body main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 78vh;
}

#home__body main::-webkit-scrollbar {
    display: none;
}

#home__body main section{
    height: 78vh;
    scroll-snap-align: start;
}

/* MENU */


#menu__main{
    display: flex;
    flex-direction: row;
    height: 78vh;
}

#menu__categorias{
    background-color: rgb(119, 136, 153);
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#menu__productos{
    background-color: rgb(121, 151, 182);
    width: 25vw;
}

#menu__imagenes{
    background-color: rgb(104, 145, 185);
    width: 65vw;
}

.carousel-item img{
    height: 78vh;
}

/* FOOTER */

footer{
    width: 100%;
    background-color: rgb(159, 241, 159);
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

.socials__logo{
    height: 5vh;
}

footer span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 25px;
    max-width: 40%;
}

footer span div{
    margin: 5px;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    max-width: 40%;
}

footer ul li{
    margin: 15px;
}
