/* ESTILOS DE TODO EL SITIO WEB */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a{
    text-decoration-style: none;
    color: black;
}

main{
    margin-top: 12vh;
    margin-bottom: 10vh;
}

.img__custom{
    width: 75%;
}

li{
    list-style-type: none;
}


/* CUSTOM CLASSES */

.main-height-custom{
    height: 78vh;
}

.footer-height-custom{
    height: 10vh;
}

@media (max-width: 991px){
    main{
        margin-top: 11vh;
        margin-bottom: 13vh;
    }
    .main-height-custom{
    height: 76vh;
    }
    
    .footer-height-custom{
        height: 13vh;
    }
    
    .img__custom{
        width: 75%;
    }
}

@media (min-width: 992px){
    .header-height-custom{
        height: 12vh;
    }
}
@media (max-width: 767px){
    .img__custom{
        width: 60%;
    }
}

.bg-royalblue{
    background-color:royalblue;
    color: white;
}

.bg-royalblue2{
    background-color:rgb(96, 131, 236);
    color: white;
}

.bg-lightskyblue{
    background-color: lightskyblue;
}

.bg-lightblue{
    background-color: lightblue;
    color: black;
}

.bg-lightsteelblue{
    background-color: lightsteelblue;
}
.border-custom-1{
    border: 1px solid rgb(222, 226, 230);
    border-width: 1px;
}

.img-w-50{
    width: 50vh;
}

/* HEADER */

#header-logo-custom{
    height: 10vh;
}

.navbar-items-custom{
    color: rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 5px;
}

/* HOME */

#home__body main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

#home__body main::-webkit-scrollbar {
    display: none;
}

#home__body main section{
    scroll-snap-align: start;
}

/* MENU */


#menu__main{
    display: flex;
    flex-direction: row;
    height: 78vh;
}

#menu__categorias{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#menu__productos{
    width: 25vw;
}

#menu__imagenes{
    background-color: rgb(104, 145, 185);
    width: 65vw;
}

.carousel-item img{
    height: 78vh;
}
/* modificar este vh */


/* FOOTER */

.socials__logo{
    height: 5vh;
}

