$primary_color: #EA3434;
$secondary_color: #E98035;
$terciary_color: #F8BE12;
$fourth_color: #EE5959;

$header-logo_height: 10vh;
$footer-logo_height: 5vh;

$header_height: 12vh;
$main_height: 78vh;
$footer_height: 10vh;