.w-40{
    width: 40vw;
}

.w-60{
    width: 60vw;
}

.img__custom{
    width: 75%;
}

.border-custom-1{
    border: 1px solid rgb(222, 226, 230);
    border-width: 1px;
}

.img-w-50{
    width: 50vh;
}
