header{
    height: $header_height;
    nav{
        background-color: $primary_color;
        height: 100%;
    }
    button{
        margin-right: 15px;
    }
}

#header-logo{
    height: $header-logo_height;
}

#navbarNavDropdown{
    ul{
        li{
            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
            }
            a{
                color: rgb(0, 0, 0);
            }
        }
    }
}

@media (min-width: 768px){
.navbar-expand-md .navbar-nav .nav-link {
    padding: 0 1rem;
}
}