header{
    height: $header_height;
    nav{
        background-color: $primary_color;
        height: 100%;
    }
}

#header-logo{
    height: $header-logo_height;
}

#navbarNavDropdown{
    ul{
        li{
            a{
                color: rgb(0, 0, 0);
                &:hover{
                    background-color: rgba(0, 0, 0, 0.267);
                }
            }
        }
    }
}

#header-menu-collapse{
    background-color: $fourth_color;
    border: 1.5px black solid;
    border-radius: 0.75rem;
    li{
        a{
            text-decoration: none;
            &:hover{
                background-color: rgba(0, 0, 0, 0.267);
            }
        }
    }
}