#header-logo-custom{
    height: 10vh;
}

.navbar-items-custom{
    color: rgb(0, 0, 0);
    margin-left: 5px;
    margin-right: 5px;
}

header{
    nav{
        background-color: $primary_color;
    }
}