#home__body{
    main{
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        section{
            scroll-snap-align: start;
        }
    }
}