#bodyMenu{
    #mainMenu{
        #accordionMenu{
            section{
                .menu-title{
                    border: 1.5px black solid;
                    background-color: $secondary_color;
                    height: 5vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                }
                .menu-item-title{
                    background-color: $terciary_color;
                    border: 1.5px black solid;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    width: 100%;
                    padding: 10px 18px;
                    color: black;
                }
                .accordion-item{
                    border: none;
                }
                .menu-item-desc{
                    padding: 10px 22px;
                }   
            }
        }
        #cardsMenu{
            .card{
                .card-header{
                    font-weight: bold;
                }
                .card-body{
                    .cards-menu-img{
                        width: 100%;
                    }
                    .card-title{
                        margin: 0.5rem 0.5rem;
                    }
                }
            }
        }
    }
}