#bodyNosotros{
    background-image: url(../assets/images/egos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #mainNosotros{
        height: $main_height-2;
    }
}

.nosotros-card{
    background-color: white;
    color: black;
    opacity: 50%;
    h3{
        opacity: 100%;
    }
    p{
        opacity: 100%;
    }
}