#bodyNosotros{
    background-color: $secondary_color;
    #mainNosotros{
        min-height: $main-height-2;
        .nosotrosContainer{
            display: flex;
            align-items: center;
            .nosotrosCard{
                background-color: $terciary_color;
                color: black;
                .nosotrosTitle{
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 32px;
                    text-align: center;
                }
                .nosotrosDesc{
                    text-align: center;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}
