//Media Query

@media (max-width: 767px){
    header{
        height: $header_height-r;
        nav{
            div{
                div{
                    ul{
                        background-color: $fourth-color;
                    }
                }
            }
        }
    }

    footer{
        height: $footer_height-r;
        div{
            height: 50%;
        }
    }

    .img__custom{
        width: 60%;
    }
}

@media (min-width: 500px){
    #mainNosotros{
        height: $main_height-2;
    }
}

@media (min-width: 768px){
    footer{
        div{
            height: 100%;
        }
    }
    #mainBeneficios{
        .discount-container{
            width: 100%;
        }
    }
}

@media (min-width: 903px){
    #nosotros-body{
        footer{
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1030;
        }
    }
}