.bg-one{
    background-color: $primary_color;
}

.bg-two{
    background-color: $secondary_color;
}

.bg-three{
    background-color: $terciary_color;
}

.bg-four{
    background-color: $fourth-color;
}